* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.slider-container {
    overflow: hidden;
    /* Menghilangkan scroll horizontal */
    display: flex;
    /* Menjaga elemen di dalam container sejajar */
    justify-content: center;
    /* Menjaga elemen tetap di tengah */
}

.slick-slider {
    overflow: hidden;
    /* Pastikan tidak ada overflow di slider */
}

.cardCustom {
    margin: 0 13px;
}