* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.slider-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slick-slider {
    overflow: hidden;
}

.cardCustom {
    margin: 0 10px;
}

.border-red {
    border: 10px solid red;
}

.custom-title {
    font-size: 12px !important;
    text-align: center;
    margin-top: 20px;
}